# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
app15

# Arquivos de testes
*.test
*.tmp
*.out

# Arquivos gerados pelo Go
vendor/
.idea/
.vscode/
*.iml

# Arquivos de coverage
coverage.txt
cover.out

# Arquivos de ambiente
.env

# Logs
*.log

# Arquivos temporários
tmp/
temp/

# Arquivos específicos do sistema
.DS_Store
Thumbs.db 